/*+++ Reset CSS +++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 14px;
}

/*+++ MAIN CSS +++*/
header {
    padding: 20px 0;
}

.logo {
    display: block;
}

.logo a {
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
    color: lightcoral;
    line-height: 1;
}

nav {
    text-align: right;
}

.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: lightcoral;
    padding: 5px 15px;
}

.main-menu li.active a {
    background-color: lightcoral;
    color: #fff !important;
}